.flex{
    display:flex;
}
.item-center{
    align-items: center;
}
.between{
    justify-content: space-between;
}
.butn{
    padding: 0.8rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    border: 3px solid transparent;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease;
}

.butn-primary{
    background: var(--primary);
    color: black;
}

.butn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.flex-1{
    flex: 0.3;
}